<main>
　<div class="contents_like">
	<h5 class="center-align">いいね済み投稿一覧</h5>
    <table class="striped">
      <tbody>
   	　　　<tr>
		   <% @favorite.each do |favorite| %>
		     <% post = Post.find_by(id: favorite.post_id) %>
		    <td><%= link_to  public_user_path(post.user.id) do %><%= post.user.name %><% end %></td>
		    <td><%= link_to  public_post_path(post.id) do %><%= post.post_content %><% end %></td>
		    <td><%= render 'public/favorites/favorite',post: post %></td>
	        <td>いいね数<%= post.favorite_count %></td>
	　　　</tr>
	　　　<% end %>
      </tbody>
  </table>
　</div>
</main>

