<main>
     <%= search_form_for(@q, url: public_post_detail_search_path(current_user) ) do |f| %>
        <%= f.label :post_content, "投稿内容" %>
        <%= f.search_field :post_content_cont %>
        <%= f.submit "検索" %>
      <% end %>

<h6 class="center-align">投稿一覧</h6>
 <div class="col s12">
  <div class="col s12 m4 l2"></div>
    <div class="col s12 m4 l8">
        <div id='map' data-posteds='<%= @posteds %>'></div>
      <table class="table-hover">
        <thead>
          <tr>
            <th> 球場画像</th>
            <th> 投稿者</th>
            <th> 球場名</th>
            <th> 観戦日</th>
            <th> 投稿内容</th>
            <th> アクセス</th>
            <th> グルメ</th>
            <th> 雰囲気</th>
            <th> キャパシティ</th>
            <th> 観光場所</th>
            <th>合計得点</th>
          </tr>
        </thead>
          <% @posts.each do |post| %>
            <tbody>
              <tr>
                <td><%= attachment_image_tag post, :posted_image, :fill, 250, 250, fallback: "no_image.png", size:'100x100' %></td>
                <td><%= post.user.name %></td>
                <td><%= post.stadium.name %></td>
                <td><%= post.watching_date.strftime("%Y年%m月%d日") %></td>
                <td><%= post.post_content %></td>
                <td><%= post.access_rate %>点</td>
                <td><%= post.gouremet_rate %>点</td>
                <td><%= post.mood_rate %>点</td>
                <td><%= post.capacity_rate %>点</td>
                <td><%= post.sightseeing_rate %>点</td>
                 <td><%= post.total_rate %>点</td>
                <td><%= render 'public/favorites/favorite',post: post %></td>
                <td>いいね数<%= post.favorite_count %></td>
                <td><%= link_to "詳細", public_post_path(post.id) ,class: "btn-floating btn-large waves-effect waves-light red" %></td>
                <td><%= render 'public/relationships/follow_button', user: post.user %></td>
              </tr>　
               <% end %>
             </tbody>
       </table>
       <%= paginate @posts %>
     </div>
   </div>
</main>


<script type="text/javascript">
          function initMap() {

 var test = { lat:  35.6804, lng:139.769017 };
 
            var map = new google.maps.Map(document.getElementById('map'), {
              zoom: 15,
              center: test
            });





            var transitLayer = new google.maps.TransitLayer();
            transitLayer.setMap(map);

            var posteds = $('#map').data('posteds')
                // JSのeach文
            posteds.forEach(function(posted){
            //posteds.each do |posted|
              var hoge = {lat: posted.latitude, lng: posted.longitude};
              console.log(hoge)
              var contentString = '住所：' + posted.address;
              var infowindow = new google.maps.InfoWindow({
                content: contentString
              });

              var marker = new google.maps.Marker({
                position:hoge,
                map: map,
                title: contentString
              });

              marker.addListener('click', function() {
                infowindow.open(map, marker);
              });
            })

          }

        </script>
        <script async defer
          src="https://maps.googleapis.com/maps/api/js?v=3.exp&key==initMap">
        </script>



