<h1>投稿画面</h1>


  <div class="col-lg-10">
    <%= form_for(@post, url:  posts_index_path, method: :post) do |f| %>

　　　<div class="form-group">
       <label>球場選択</label><br>
       <%= f.collection_select :stadium_id, Stadium.all, :id, :stadium_name, {:prompt => "選択してください"}, class: "mySelect2 form-control" %>
     </div><br>






　   <div class="form-group">
         <label>観戦した日にちを選択</label><br>
         <%= f.date_field :watching_date, class: 'form-control' %>
       </div><br>

    <div class="form-group">
　　　   <label>投稿本文</label>
        <%= f.text_field :post_content, class: "form-control", autocomplete: 'off',placeholder: "入力してください" %>
     </div><br>

	 <div class="form-group">
	    <label>投稿画像</label>
	    <%= f.attachment_field :posted_image %>
	</div><br>
	  <%= f.submit "投稿する" , class: "btn btn-success col-lg-7" %>
 <% end %>