<main>
  <%= flash[:notice] %>
  <% if @post.errors.any? %>
    <%= @post.errors.count %>件のerrorが発生しました 空欄を入力してください
    <% @post.errors.full_messages.each do |message| %>
    <%= message %>
    <% end %>
  <% end %>
  <%= form_for(@post, url:  public_posts_path, method: :post) do |f| %>
    <div class="row">
      <div class="col s6 center-align">
        <div class="card grey lighten-4">
          <div class="card-content ">
            <h5 class="title">投稿画面</h5>
            <div class="form-group">
              <label>観戦した日にちを選択</label><br>
                <%= f.date_field :watching_date, class: 'form-control' %>
              </div><br>
              <div class="form-group">
                <label>投稿本文</label>
                <%= f.text_area :post_content, class: "form-control", autocomplete: 'off',placeholder: "入力してください" %>
              </div><br>
              <div class="form-group">
                <label>投稿画像</label>
                <%= f.attachment_field :posted_image, class: "file-field input-field"  %>
              </div><br>
              <div class="input-field ">
                <%= f.label :行った飲食店や宿泊施設などのお店の名前または住所を入力してください %>
                <%= f.text_field :address, class: "materialize-textarea" %>
            </div>
          </div>
        </div>
      </div>
      <div class="col s6 center-align">
        <div class="card grey lighten-4">
          <div class="card-content ">
            <h5 class="title">採点項目</h5>
            <div class="form-group">
              <label>球場選択</label><br>
              <%= f.collection_select :stadium_id, Stadium.all, :id, :name , class: "mySelect2 form-control" %>
            </div>
            <div class="form-group row star" id="star1">
              <%= f.label :access_rate,'アクセス ', class:'col-md-3 col-form-label' %>
              <%= f.hidden_field :access_rate, id: :review_star %>
            </div>

            <div class="form-group row star" id="star2">
              <%= f.label :gouremet_rate,'グルメ ', class:'col-md-3 col-form-label' %>
              <%= f.hidden_field :gouremet_rate, id: :review_star %>
            </div>

             <div class="form-group row star" id="star3">
              <%= f.label :mood_rate,'雰囲気 ', class:'col-md-3 col-form-label' %>
              <%= f.hidden_field :mood_rate, id: :review_star %>
            </div>

             <div class="form-group row star" id="star4">
              <%= f.label :capacity_rate,'キャパシティ ', class:'col-md-3 col-form-label' %>
              <%= f.hidden_field :capacity_rate, id: :review_star %>
            </div>

             <div class="form-group row star" id="star5">
              <%= f.label :sightseeing_rate,'観光 ', class:'col-md-3 col-form-label' %>
              <%= f.hidden_field :sightseeing_rate, id: :review_star %>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col s6 center-align">
        <h5>採点項目の仕方</h5>
        <div class="card grey lighten-4">
          <div class="card-content ">
            <h6 class="title">採点項目の付け方</h6>
              <table>
                <tbody>
                  <tr>
                    <td class="item">アクセス</td>
                    <td>(例)立地電車や駅から歩いてかかる時間など</td>
                  </tr>
                  <tr>
                    <td class="item">グルメ</td>
                    <td>(例)球場グルメの美味しさ価格帯など</td>
                  </tr>
                  <tr>
                    <td class="item">ムード</td>
                    <td>(例)ホーム球場の応援の雰囲気など</td>
                  </tr>
                    <td class="item">キャパシティ</td>
                    <td>(例)チケットの購入のしやすさ</td>
                  <tr>
                    <td class="item">観光</td>
                    <td>(例)球場周辺の観光地など遊ぶ場所</td>
                  </tr>
                </tbody>
              </table>
            </div>
        </div>
      </div>

      <div class="col s6 center-align">
        <h5>プランの作り方</h5>
        <div class="card grey lighten-4">
            <div class="card-content ">
              <h6 class="title">野球を見に行くまでのおすすめのプランがあったら教えてください</h6>
　　　　　<table>
         <tbody>

          <tr>
            <td class="item">タイトル</td>
            <td>(例)大阪旅行</td>
          </tr>
          <tr>
            <td class="item">金額</td>
            <td>(例)2000円</td>
          </tr>
          <tr>
            <td class="item">滞在時間</td>
            <td>(例)30分</td>
          </tr>
          <tr>
            <td class="item">場所</td>
            <td>(例)千代崎イオン</td>
          </tr>
          <tr>
            <td class="item">スポット内容</td>
            <td>(例)試合前に買い物</td>
          </tr>
            <td></td>
            <td></td>
          </tr>
         </tbody>
        </table>
      </div>日
    </div>
  </div>




    <div class="plans">
      <%= f.fields_for :plans do |plan| %>
           <%= render 'plan_fields', f: plan %>
         <% end %>
        <div class="row">
          <div class="col s12 center-align">
            <div class="links">
               <%= link_to_add_association 'プランを追加', f, :plans  , class: "btn  amber accent-4 col s12" %>
            </div>
          </div>
      <%= f.submit "投稿する" , class: "btn light-blue accent-4 col s12 " %>
      </div>
    <% end %>
  </div>
</main>

  <script>
  $('#star1').raty({
    size     : 36,
    starOff:  '<%= asset_path('star-off.png') %>',
    starOn : '<%= asset_path('star-on.png') %>',
    starHalf: '<%= asset_path('star-half.png') %>',
    scoreName: 'post[access_rate]',
    half: true,
  });
    $('#star2').raty({
    size     : 36,
    starOff:  '<%= asset_path('star-off.png') %>',
    starOn : '<%= asset_path('star-on.png') %>',
    starHalf: '<%= asset_path('star-half.png') %>',
    scoreName: 'post[gouremet_rate]',
    half: true,
  });
      $('#star3').raty({
    size     : 36,
    starOff:  '<%= asset_path('star-off.png') %>',
    starOn : '<%= asset_path('star-on.png') %>',
    starHalf: '<%= asset_path('star-half.png') %>',
    scoreName: 'post[mood_rate]',
    half: true,
  });
        $('#star4').raty({
    size     : 36,
    starOff:  '<%= asset_path('star-off.png') %>',
    starOn : '<%= asset_path('star-on.png') %>',
    starHalf: '<%= asset_path('star-half.png') %>',
    scoreName: 'post[capacity_rate]',
    half: true,
  });
          $('#star5').raty({
    size     : 36,
    starOff:  '<%= asset_path('star-off.png') %>',
    starOn : '<%= asset_path('star-on.png') %>',
    starHalf: '<%= asset_path('star-half.png') %>',
    scoreName: 'post[sightseeing_rate]',
    half: true,
  });
  </script>
