<div class='col-lg-12'>
<h2>投稿詳細画面</h2>
</div>

<laber><%#= attachment_image_tag @posted, :image, :fill, 100, 100, fallback: "no_image.png", size:'50x50' %></laber>
<div class='form-group'>
   <label>球場名</label>
<laber><%= @post.stadium.name %></laber>
</div>
<div class='form-group'>
  <label>観戦日</label>
<laber><%#= @post.watching_date.strftime("%Y年%m月%d日") %></laber>
</div>
<div class='form-group'>
  <label>投稿内容</label>
<laber><%= @post.post_content %></laber>
</div>
<div class='form-group'>
  <label>ユーザー名</label>
<laber><%= @post.user.name %></laber>
</div>







<div class='col-lg-5'>
  <div class='form-group'>
    <label>アクセス採点</label>
    <label><%= @access %></label>
    <br>
    <div id='star-rate'></div>
    <label>グルメ採点</label>
    <label><%= @gouremet %></label>
    <br>
    <div id='star2-rate'></div>
    <label>ムード採点</label>
    <label><%= @mood %></label>
    <br>
    <div id='star3-rate'></div>
    <label>キャパシティ採点</label>
    <label><%=@capacity   %></label>
    <br>
    <div id='star4-rate'></div>
    <label>観光採点</label>
    <label><%= @gouremet %></label>
    <br>
    <div id='star5-rate'></div>
  </div>
  <br>
</div>

<%# @post_ranks.each do |post| %>

<%#= post.stadium.name %>
<%#= post.gouremet_rate %>
<%# end %>



    <script>
          $('#star-rate').raty({
            size: 36,
            starOff:  '<%= asset_path('star-off.png') %>',
            starOn : '<%= asset_path('star-on.png') %>',
            starHalf: '<%= asset_path('star-half.png') %>',
            half: true,
            readOnly: true,
            score: '<%=@access  %>'
          });
          </script>
          <script>
          $('#star2-rate').raty({
            size: 36,
            starOff:  '<%= asset_path('star-off.png') %>',
            starOn : '<%= asset_path('star-on.png') %>',
            starHalf: '<%= asset_path('star-half.png') %>',
            half: true,
            readOnly: true,
            score: '<%=  @gouremet %>'
          });
          </script>

          <script>
          $('#star3-rate').raty({
            size: 36,
            starOff:  '<%= asset_path('star-off.png') %>',
            starOn : '<%= asset_path('star-on.png') %>',
            starHalf: '<%= asset_path('star-half.png') %>',
            half: true,
            readOnly: true,
            score: '<%= @mood %>',
          });
          </script>

          <script>
          $('#star4-rate').raty({
            size: 36,
            starOff:  '<%= asset_path('star-off.png') %>',
            starOn : '<%= asset_path('star-on.png') %>',
            starHalf: '<%= asset_path('star-half.png') %>',
            half: true,
            readOnly: true,
            score: '<%=  @capacity %>',
          });
          </script>
          <script>
          $('#star5-rate').raty({
            size: 36,
            starOff:  '<%= asset_path('star-off.png') %>',
            starOn : '<%= asset_path('star-on.png') %>',
            starHalf: '<%= asset_path('star-half.png') %>',
            half: true,
            readOnly: true,
            score: '<%= @sightseeing  %>',
          });
          </script>



