<div class="row">
    <div class="col s12 ">
      <div class="card blue-grey grey lighten-2">
        <div class="card-image">
          <label><%= attachment_image_tag @post, :posted_image, :fill, 250, 250, fallback: "no_image.png", size:'200x200' %></label>
          <span class="card-title"></span>
        </div>
        <div class="card-content white-text">
          <span class="card-titlecol "><h5>投稿詳細</h5></span>
           <h5><%= @post.stadium.name %></h5>
          <h5><%= @post.watching_date.strftime("%Y年%m月%d日") %></h5>
          <h5>投稿内容</h5>
          <p><%= @post.post_content %></p>
          <label><%= link_to user_path(@post.id) do %><%= @post.user.name %><% end %></label>
        </div>
         <div class="card-action">
            <%= link_to "edit", edit_post_path(@post.id) ,class: "btn btn-default col s5 btn btn-default " %>
            <div class="col s2"></div>
            <%= link_to "削除",  post_path(@post.id), method: :delete ,class: "btn btn-primary col s5" %>
         </div>
       </div>
      </div>
    </div>
 </div>


  <div class="row">
    <div class="col s12 ">
      <div class="card">
        <div class="card-image">
          <img src="images/sample-1.jpg">
          <span class="card-title">Card Title</span>
          <a class="btn-floating halfway-fab waves-effect waves-light red"><i class="material-icons">add</i></a>
        </div>
        <div class="card-content">
          <div class="card large">
         <div class='form-group'>
                <label>アクセス採点</label>
                 <span class="blue-text text-darken-2"><%= @access %></span>
                <br>
                <div id='star-rate'></div>
                <label>グルメ採点</label>
                <span class="blue-text text-darken-2"><%= @gouremet %></span>
                <br>
                <div id='star2-rate'></div>
                <label>ムード採点</label>
                 <span class="blue-text text-darken-2"><%= @mood %></span>
                <br>
                <div id='star3-rate'></div>
                <label>キャパシティ採点</label>
                <span class="blue-text text-darken-2"><%=@capacity   %></span>
                <br>
                <div id='star4-rate'></div>
                <label>観光採点</label>
                 <span class="blue-text text-darken-2"><%= @gouremet %></span>
                <div id='star5-rate'></div>
            </div>
          </div>
</div>
        </div>
      </div>
    </div>
  </div>







          <!--アクセス星評価-->
          <script>
          $('#star-rate').raty({
            size: 36,
            starOff:  '<%= asset_path('star-off.png') %>',
            starOn : '<%= asset_path('star-on.png') %>',
            starHalf: '<%= asset_path('star-half.png') %>',
            half: true,
            readOnly: true,
            score: '<%= @post.access_rate %>'
          });
          </script>
          <script>
          $('#star2-rate').raty({
            size: 36,
            starOff:  '<%= asset_path('star-off.png') %>',
            starOn : '<%= asset_path('star-on.png') %>',
            starHalf: '<%= asset_path('star-half.png') %>',
            half: true,
            readOnly: true,
            score: '<%= @post.gouremet_rate %>'
          });
          </script>

          <script>
          $('#star3-rate').raty({
            size: 36,
            starOff:  '<%= asset_path('star-off.png') %>',
            starOn : '<%= asset_path('star-on.png') %>',
            starHalf: '<%= asset_path('star-half.png') %>',
            half: true,
            readOnly: true,
            score: '<%= @post.mood_rate %>',
          });
          </script>

          <script>
          $('#star4-rate').raty({
            size: 36,
            starOff:  '<%= asset_path('star-off.png') %>',
            starOn : '<%= asset_path('star-on.png') %>',
            starHalf: '<%= asset_path('star-half.png') %>',
            half: true,
            readOnly: true,
            score: '<%= @post.capacity_rate %>',
          });
          </script>
          <script>
          $('#star5-rate').raty({
            size: 36,
            starOff:  '<%= asset_path('star-off.png') %>',
            starOn : '<%= asset_path('star-on.png') %>',
            starHalf: '<%= asset_path('star-half.png') %>',
            half: true,
            readOnly: true,
            score: '<%= @post.sightseeing_rate %>',
          });
          </script>