<main>
  <div class="row">
    <div class="col s2 "></div>
    <div class="col s4 ">
        <div class="card">
          <div class="card-content center-align">
            <%= attachment_image_tag @post, :posted_image, :fill, 250, 250, fallback: "no_image.png", size:'300x300 ' %></a>
         </div>
        </div>

        <div class="card">
          <div class="card-content">
            <h5><%= @post.user.name %></h5>
            <h7><%= @post.watching_date.strftime("%Y年%m月%d日") %></h7>
            <p><%= @post.post_content %></p>
          </div>
        </div>
    </div>



    <div class="col s4 ">
      <div class="card">
       <div class="card-content">
         <div class='form-group'>
          <h5><%= @post.stadium.name %></h5>
            <label>アクセス採点</label>
             <span class="blue-text text-darken-2"><%= @access %></span>
            <br>
            <div id='star-rate'></div>
            <label>グルメ採点</label>
            <span class="blue-text text-darken-2"><%= @gouremet %></span>
            <br>
            <div id='star2-rate'></div>
            <label>ムード採点</label>
             <span class="blue-text text-darken-2"><%= @mood %></span>
            <br>
            <div id='star3-rate'></div>
            <label>キャパシティ採点</label>
            <span class="blue-text text-darken-2"><%=@capacity   %></span>
            <br>
            <div id='star4-rate'></div>
            <label>観光採点</label>
             <span class="blue-text text-darken-2"><%= @gouremet %></span>
            <div id='star5-rate'></div>
         </div>
        </div>
       </div>
     </div>

     <div class="col s12 ">
       <div class="col s2 "></div>
       <%= link_to "投稿を編集する", edit_post_path(@post.id) ,class:  "waves-effect waves-light btn-large col s3" %>
       <div class="col s1 "></div>
       <%= link_to "削除",  post_path(@post.id), method: :delete ,class:  "waves-effect waves-light btn-large col s3" %></p>
     </div>
    </div>
</main>





          <!--アクセス星評価-->
          <script>
          $('#star-rate').raty({
            size: 36,
            starOff:  '<%= asset_path('star-off.png') %>',
            starOn : '<%= asset_path('star-on.png') %>',
            starHalf: '<%= asset_path('star-half.png') %>',
            half: true,
            readOnly: true,
            score: '<%= @post.access_rate %>'
          });
          </script>
          <script>
          $('#star2-rate').raty({
            size: 36,
            starOff:  '<%= asset_path('star-off.png') %>',
            starOn : '<%= asset_path('star-on.png') %>',
            starHalf: '<%= asset_path('star-half.png') %>',
            half: true,
            readOnly: true,
            score: '<%= @post.gouremet_rate %>'
          });
          </script>

          <script>
          $('#star3-rate').raty({
            size: 36,
            starOff:  '<%= asset_path('star-off.png') %>',
            starOn : '<%= asset_path('star-on.png') %>',
            starHalf: '<%= asset_path('star-half.png') %>',
            half: true,
            readOnly: true,
            score: '<%= @post.mood_rate %>',
          });
          </script>

          <script>
          $('#star4-rate').raty({
            size: 36,
            starOff:  '<%= asset_path('star-off.png') %>',
            starOn : '<%= asset_path('star-on.png') %>',
            starHalf: '<%= asset_path('star-half.png') %>',
            half: true,
            readOnly: true,
            score: '<%= @post.capacity_rate %>',
          });
          </script>
          <script>
          $('#star5-rate').raty({
            size: 36,
            starOff:  '<%= asset_path('star-off.png') %>',
            starOn : '<%= asset_path('star-on.png') %>',
            starHalf: '<%= asset_path('star-half.png') %>',
            half: true,
            readOnly: true,
            score: '<%= @post.sightseeing_rate %>',
          });
          </script>