<main>
  <%= render "devise/shared/error_messages", resource: resource %>
  <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
    <div class="row">
      <h3 class="center-align">アカウントを作成する</h3>
      <div class=" col s3"></div>
      <div class="card col s6 ">
        <div class="card-content center-align ">
          <label class="col-sm-12">ユーザー名を入力してください</label>
          <%= f.text_field :name,  class:"form-control" %><br>

          <label class="col-sm-12">プロフィール画像選択</label>
          <%= f.attachment_field :image %><br>

      　　　<label class="col-sm-12">好きなチームを選択してください</label>
          <%= f.collection_select :team_id, Team.all, :id, :team %><br>

      　　　<label class="col-sm-12">好きなチームを選択してください</label>
          <%= f.text_field :email, placeholder:"メールアドレスを入力してください", class: "form-control" %><br>

          <label class="col-sm-12">パスワード</label>
            <% if @minimum_password_length %>
              <em>(<%= @minimum_password_length %> 文字以上で入力してください)</em>
            <% end %><br />

          <%= f.password_field :password, autocomplete: "パスワード", class:"form-control" %><br>

          <label class="col-sm-12">パスワード(確認用）</label>
          <%= f.password_field :password_confirmation, autocomplete: "パスワード確認用", class:"form-control" %>

          <div class="actions">
           <%= f.submit "アカウントを作成" , class: "col s5 btn orange accent-3" %>
          <div class="col s2"></div>
           <%= link_to "ログインする", new_session_path(resource_name) , class: "col s5 btn green accent-4" %>
          </div>
        </div>
      </div>
    </div>
  <% end %>
  <%= render "public/users/shared/links" %>
</main>