<h1>チーム一覧　作成画面</h1>



  <div class="col-lg-10">
    <%= form_for(@team, url: admin_team_index_path, method: :post) do |f| %>

        <div class="form-group">
            <label>チーム名</label>
           <%= f.text_field :team, class: "form-control", autocomplete: 'off',placeholder: "入力してください" %>
        </div><br>

         <%= f.submit "チーム登録" , class: "btn btn-success col-lg-7" %>

    <% end %>

	<table class="table table-hover">
		<thead>
			<tr>
				<th>チーム名</th>
				<th>編集</th>
			</tr>
		</thead>
		<tbody>
	   <% @teams.each do |s| %>
			<tr>
				<td><%= s.team %></td>
				<td><%= link_to "編集", edit_admin_team_path(s.id) ,class: "label label-primary" %></td>
	　　　　</tr>
			<% end %>
		</tbody>
	</table>
</div>

