%h1 チーム一覧　作成画面
.col-lg-10
  = form_for(@team, url: admin_team_index_path, method: :post) do |f|
    .form-group
      %label チーム名
      = f.text_field :team, class: "form-control", autocomplete: 'off',placeholder: "入力してください"
    %br/
    = f.submit "チーム登録" , class: "btn btn-success col-lg-7"
  %table.table.table-hover
    %thead
      %tr
        %th チーム名
        %th 編集
    %tbody
      - @teams.each do |s|
        %tr
          %td= s.team
          %td= link_to "編集", edit_admin_team_path(s.id) ,class: "label label-primary"
          　　　　
