<main>
<h3 class="center-align">投稿一覧</h3>
 <div class="col s12">
  <div class="col s12 m4 l2"></div>
    <div class="col s12 m4 l8">
      <table class="table-hover">
          <% @post.each do |post| %>
            <tbody>
              <tr>
                <td><%= attachment_image_tag post, :posted_image,  fallback: "no_image.png", size:'100x100' %></td>
                <td><%= post.user.name %></td>
                <td><%= post.watching_date.strftime("%Y年%m月%d日") %></td>
                <td><%= post.post_content %></td>
                <td><%= link_to "投稿詳細",admin_post_path(post.id) %></td>
              </tr>　
               <%= paginate @post %>
               <% end %>
             </tbody>
       </table>
     </div>
   </div>
</main>
