<h1>ユーザー投稿一覧</h1>

	<table class="table table-hover">
		<thead>
			<tr>
				<th>球場名</th>
				<th>観戦日</th>
				<th>投稿内容</th>
				<th>編集</th>
			</tr>
		</thead>
		<tbody>
	   <% @post.each do |s| %>
			<tr>
				<td><%= attachment_image_tag s, :posted_image, :fill, 250, 250, fallback: "no_image.png", size:'100x100' %></td>
				<td><%= s.stadium.naem %></td>球場名
				<td><%= s.watching_date %></td>観戦日
				<td><%= s.post_content %></td>投稿内容
				<td><%= link_to "編集", edit_admin_post_path(s.id) ,class: "label label-primary" %></td>
	　      </tr>
			<% end %>
		</tbody>
	</table>
</div>

