<h1>投稿詳細画面</h1>
 <div class="form-group">
    <label>投稿画像</label>
     <br>
    <%= attachment_image_tag @post, :posted_image,  fallback: "no_image.png", size:'100x100'  %>
    <br>
</div>

  <div class="form-group">
    <label> 球場名</label>
    <br>
    <%= @post.stadium.name %>
    <br>
  </div>

  <div class="form-group">
    <label> 観戦日</label>
    <br>
    <%= @post.watching_date %>
    <br>
  </div>
  <div class="form-group">
    <label> 投稿内容</label>
    <br>
    <%= @post.post_content %>
    <br>
  </div>
  <div class="form-group">
    <label> アクセス採点</label>
    <br>
    <%= @post.access_rate %>点
    <br>
  </div>
  <div class="form-group">
    <label> グルメ採点</label>
    <br>
    <%= @post.gouremet_rate %>点
    <br>
  </div>
  <div class="form-group">
    <label> ムード採点</label>
    <br>
    <%= @post.mood_rate %>点
 </div>
  　　
  <div class="form-group">
    <label> キャパシティ採点</label>
   <br>
    <%= @post.capacity_rate %>点 　　　
 </div>
  <div class="form-group">
    <label> キャパシティ採点</div>
    <br>
    <%= @post.sightseeing_rate %>点
   <br>
  <%= link_to "投稿編集",edit_admin_post_path(@post.id) %>
