<main>
  <div class="row">

    <div class="col s12">

    <div class="col s2 ">
      <ul class="collection with-header">
        <li class="collection-header"><h4>球場一覧</h4></li>
         <% @stadiums.each do |stadium|  %>
        <li class="collection-item"><%= link_to public_stadium_path(stadium.id) do %><%= stadium.name %><% end %></li>
         <% end %>
      </ul>
    </div>
    <div class="col s10">


       <div id='map' data-posteds='<%= @posteds %>'></div>

        <div class="col s4">

          <ul class="collapsible ">
            <li>
              <div class="collapsible-header card-panel  red accent-4"><h5 class="white-text text-darken-2">いいねランキング</h5></div>
                      <div class="collapsible-body">
                        <table class="striped">
                        <% @post.each.with_index(1) do |rank, i| %>
                          <tr>
                           <td><h6><%= "第#{ i+1 }位" %></td><h6>
                           <td><h6><%= rank.post_content %></h6></td>
                           <td><h7><%= rank.favorite_count %>いいね</td><h7>
                          </tr>
                       </tbody>
                    <% end %>
                  </table>
                </div>
              </li>
            </ul>
          </div>

                      <ul class="collapsible ">
                        <li>
                          <div class="collapsible-header card-panel  red accent-4"><h5 class="white-text text-darken-2">いいねランキング</h5></div>
                            <div class="collapsible-body">
                              <table class="striped">
                                 <% @post.each.with_index(1) do |rank, i| %>
                                 <tr>
                                 <td><h6><%= "第#{ i+1 }位" %></td><h6>
                                 <td><h6><%= rank.post_content %></h6></td>
                                 <td><h7><%#= (average).floor(2) %>点</td><h7>
                                 </tr>
                             </tbody>
                          <% end %>
                        </table>
                      </div>
                  </li>
              </ul>
           </div>


           <div class="col s4">
              <ul class="collapsible ">
                <li>
                  <div class="collapsible-header card-panel  red accent-4"><h5 class="white-text text-darken-2">総合ランキング</h5></div>
                    <div class="collapsible-body">
                      <table class="striped">
                        <% @sort_posts.each.with_index do |sort_post, i|  %>
                         <% stadium_id = sort_post[0] %>
                         <% average = sort_post[1].to_f %>
                            <tbody>
                              <tr>
                                <td><h6><%= "第#{ i+1 }位" %></td><h6>
                                <td><h6><%= link_to  public_stadium_path(stadium_id) do %> <%= Stadium.find(stadium_id).name %></h6></td><% end %>
                                <td><h7><%= (average).floor(2) %>点</td><h7>
                              </tr>
                           </tbody>
                        <% end %>
                      </table>
                    </div>
                </li>
            </ul>
         </div>


           <div class="col s4">
              <ul class="collapsible">
                <li>
                  <div class="collapsible-header card-panel  light-blue accent-4"><h5 class="white-text text-darken-2">球場グルメランキング</h5></div>
                    <div class="collapsible-body">
                      <table class="striped">
                        <% @sort_posts.each.with_index do |sort_post, i|  %>
                         <% stadium_id = sort_post[0] %>
                         <% average = sort_post[1].to_f %>
                            <tbody>
                              <tr>
                                <td><h6><%= "第#{ i+1 }位" %></td><h6>
                                <td><h6><%= link_to  public_stadium_path(stadium_id) do %> <%= Stadium.find(stadium_id).name %></h6></td><% end %>
                                <td><h7><%= (average).floor(2) %>点</td><h7>
                              </tr>
                           </tbody>
                        <% end %>
                      </table>
                    </div>
                </li>
            </ul>
         </div>


           <div class="col s4">
              <ul class="collapsible">
                <li>
                  <div class="collapsible-header card-panel green accent-4"><h5 class="white-text text-darken-2">球場ムードランキング</h5></div>
                    <div class="collapsible-body">
                      <table class="striped">
                        <% @sort_moods.each.with_index do |sort_post, i|  %>
                         <% stadium_id = sort_post[0] %>
                         <% average = sort_post[1].to_f %>
                            <tbody>
                              <tr>
                                <td><h6><%= "第#{ i+1 }位" %></td><h6>
                                <td><h6><%= link_to  public_stadium_path(stadium_id) do %> <%= Stadium.find(stadium_id).name %></h6></td><% end %>
                                <td><h7><%= (average).floor(2) %>点</td><h7>
                              </tr>
                           </tbody>
                        <% end %>
                      </table>
                    </div>
                </li>
            </ul>
         </div>



           <div class="col s4">
              <ul class="collapsible">
                <li>
                  <div class="collapsible-header card-panel yellow accent-4"><h5 class="white-text text-darken-2">アクセスランキング</h5></div>
                    <div class="collapsible-body">
                      <table class="striped">
                        <% @sort_accesses.each.with_index do |sort_post, i|  %>
                         <% stadium_id = sort_post[0] %>
                         <% average = sort_post[1].to_f %>
                            <tbody>
                              <tr>
                                <td><h6><%= "第#{ i+1 }位" %></td><h6>
                                <td><h6><%= link_to  public_stadium_path(stadium_id) do %> <%= Stadium.find(stadium_id).name %></h6></td><% end %>
                                <td><h7><%= (average).floor(2) %>点</td><h7>
                              </tr>
                           </tbody>
                        <% end %>
                      </table>
                    </div>
                </li>
            </ul>
         </div>


           <div class="col s4">
              <ul class="collapsible">
                <li>
                  <div class="collapsible-header card-panel orange accent-4"><h5 class="white-text text-darken-2">観光ランキング</h5></div>
                    <div class="collapsible-body">
                      <table class="striped">
                        <% @sort_sightseeings.each.with_index do |sort_post, i|  %>
                         <% stadium_id = sort_post[0] %>
                         <% average = sort_post[1].to_f %>
                            <tbody>
                              <tr>
                                <td><h6><%= "第#{ i+1 }位" %></td><h6>
                                <td><h6><%= link_to  public_stadium_path(stadium_id) do %> <%= Stadium.find(stadium_id).name %></h6></td><% end %>
                                <td><h7><%= (average).floor(2) %>点</td><h7>
                              </tr>
                           </tbody>
                        <% end %>
                      </table>
                    </div>
                </li>
            </ul>
         </div>


           <div class="col s4">
              <ul class="collapsible">
                <li>
                  <div class="collapsible-header card-panel grey"><h5 class="white-text text-darken-2">キャパランキング</h5></div>
                    <div class="collapsible-body">
                      <table class="striped">
                        <% @sort_capacities.each.with_index do |sort_post, i|  %>
                         <% stadium_id = sort_post[0] %>
                         <% average = sort_post[1].to_f %>
                            <tbody>
                              <tr>
                                <td><h6><%= "第#{ i+1 }位" %></td><h6>
                                <td><h6><%= link_to  public_stadium_path(stadium_id) do %> <%= Stadium.find(stadium_id).name %></h6></td><% end %>
                                <td><h7><%= (average).floor(2) %>点</td><h7>
                              </tr>
                           </tbody>
                        <% end %>
                      </table>
                    </div>
                </li>
            </ul>
         </div>
     </div>
   </div>
  </div>
</main>






 <script type="text/javascript">
          function initMap() {
            var test = {lat: <%=  @posted.latitude %>, lng: <%=  @posted.longitude %>};
            var map = new google.maps.Map(document.getElementById('map'), {
              zoom: 15,
              center: test
            });

            var transitLayer = new google.maps.TransitLayer();
            transitLayer.setMap(map);

            var posteds = $('#map').data('posteds')
                // JSのeach文
            posteds.forEach(function(posted){
            //posteds.each do |posted|
              var hoge = {lat: posted.latitude, lng: posted.longitude};
              console.log(hoge)

              var contentString = '住所：' + posted.address;
              var infowindow = new google.maps.InfoWindow({
                content: contentString
              });

              var marker = new google.maps.Marker({
                position:hoge,
                map: map,
                title: contentString
              });

              marker.addListener('click', function() {
                infowindow.open(map, marker);
              });
            })

          }

        </script>



        <script async defer
          src="https://maps.googleapis.com/maps/api/js?v=3.exp&key=<%= ENV["GOOGLE_MAP_API_KEY"]%>&callback=initMap">
        </script>







