

<div class="col-md-2">
  <h6>球場一覧</h6>
 <ul class="collection">
   <% @stadiums.each do |stadium|  %>
      <li class="collection-item"><%= link_to  stadium_path(stadium.id) do %><%=stadium.name %><% end %></li>
       <% end %>
    </ul>
</div>



<div class='col-lg-10'>
<script async defer
 src="https://maps.googleapis.com/maps/api/js?v=3.exp&key=AIzaSyBXVVA0A41o5mRG_hSO9KrzOp73q5ES91c&callback=initMap">
</script>


<div id="map"></div>
</div>
<div class="col-md-1 ">
</div>

<div class="col-md-2 ">
 <ul class="collection with-header">
   <li class="blue-text text-darken-2 collection-header"><h6>グルメランキング</h6></li>
 	  <% @sort_posts.each.with_index do |sort_post, i|  %>
      <% stadium_id = sort_post[0] %>
      <% average = sort_post[1].to_f %>
      <li class="collection-item"><%= "第#{ i+1 }位" %><%= Stadium.find(stadium_id).name %><%= average %></li>
       <% end %>
    </ul>
</div>

<div class="col-md-2">
   <ul class="collection with-header">
 <li class="blue-text text-darken-2 collection-header"><h6>ムードランキング</h6></li>
<% @sort_moods.each.with_index do |sort_post, i|  %>
<% stadium_id = sort_post[0] %>
      <% average = sort_post[1].to_f %>
 	 <li class="collection-item"><%= "第#{ i+1 }位" %><%= Stadium.find(stadium_id).name %>
    <%= average %></li>
<% end %>
 </ul>
</div>

<div class="col-md-2">
   <ul class="collection with-header">
 <li class="blue-text text-darken-2 collection-header"><h6>アクセスランキング</h6></li>
<% @sort_accesses.each.with_index do |sort_post, i|  %>
<% stadium_id = sort_post[0] %>
<% average = sort_post[1].to_f %>
<li class="collection-item"><%= "第#{ i+1 }位" %><%= Stadium.find(stadium_id).name %>
    <%= average %></li>
 	<% end %>
</ul>
</div>

<div class="col-md-2">
  <ul class="collection with-header">
 <li class="blue-text text-darken-2 collection-header"><h6>観光ランキング</h6></li>
  <% @sort_sightseeings.each.with_index do |sort_post, i|  %>
<% stadium_id = sort_post[0] %>
<% average = sort_post[1].to_f %>
<li class="collection-item"><%= "第#{ i+1 }位" %><%= Stadium.find(stadium_id).name %>
    <%= average %></li>
<% end %>
</ul>
</div>

<div class="col-md-2">
  <ul class="collection with-header">
 <li class="blue-text text-darken-2 collection-header"><h6>キャパランキング</h6></li>
    <% @sort_sightseeings.each.with_index do |sort_post, i|  %>
<% stadium_id = sort_post[0] %>
<% average = sort_post[1].to_f %>
<li class="collection-item"><%= "第#{ i+1 }位" %><%= Stadium.find(stadium_id).name %>
   <%= average %></li>
<% end %>
</ul>
</div>


      <script type="text/javascript">
          function initMap() {
        <%# @posted.each do |posted| %>
            var test = {lat: <%=  @stadium.latitude %>, lng: <%= @stadium.longitude %>};
            var map = new google.maps.Map(document.getElementById('map'), {
              zoom: 15,
              center: test
            });

            var transitLayer = new google.maps.TransitLayer();
            transitLayer.setMap(map);

            var contentString = '住所：<%= @stadium.address %>';
            var infowindow = new google.maps.InfoWindow({
              content: contentString
            });

            var marker = new google.maps.Marker({
              position:test,
              map: map,
              title: contentString
            });

            marker.addListener('click', function() {
              infowindow.open(map, marker);
            });
          }
          <%# end %>
        </script>
        <script async defer
          src="https://maps.googleapis.com/maps/api/js?v=3.exp&key=AIzaSyBXVVA0A41o5mRG_hSO9KrzOp73q5ES91c&callback=initMap">
        </script>


