
<main>
  <div class="row">
    <div class='col-lg-12'>
       <div class="col s12 m3">
         <ul class="collection with-header">
          <li class="collection-header"><h4>球場一覧</h4></li>
              <% @stadiums.each do |stadium|  %>
                <li class="collection-item"><%= link_to  stadium_path(stadium.id) do %><%=stadium.name %><% end %></li>
             <% end %>
        　</ul>
      </div>

　　　　　<div class="grid-example col s12 m9">
          <script async defer src="https://maps.googleapis.com/maps/api/js?v=3.exp&key=AIzaSyDgRNuMMQ26SbHwrGQmhxfrS4kjcuygGbI&callback=initMap">
          </script>
          <div id='map' data-posteds=<%= @posteds %>></div>
  


        <div class='col-lg-3 center-align'>
         <ul class="collapsible">
            <li>
              <div class="collapsible-header yellow-text text-darken-2 "><h6>総合得点</h6></div>
              <div class="collapsible-body"></div>
               <% @sort_posts.each.with_index do |sort_post, i|  %><% stadium_id = sort_post[0] %> <% average = sort_post[1].to_f %>
                <div class="collapsible-body"><%= "第#{ i+1 }位" %><%= Stadium.find(stadium_id).name %><%= average %></div>
                <% end %>
            </li>
          </ul>
        </div>




         <div class='col-lg-3'>
             <ul class="collection with-header ">
               <li class=" yellow-text text-darken-2 collection-header"><h6>グルメランキング</h6></li>
             	  <% @sort_posts.each.with_index do |sort_post, i|  %>
                  <% stadium_id = sort_post[0] %>
                  <% average = sort_post[1].to_f %>
                  <li class="collection-item"><%= "第#{ i+1 }位" %><%= Stadium.find(stadium_id).name %><%= average %></li>
                   <% end %>
                </ul>
              </div>
             <div class='col-lg-3'>
              <ul class="collection with-header">
               <li class="green-text text-darken-2 collection-header"><h6>ムードランキング</h6></li>
              　　<% @sort_moods.each.with_index do |sort_post, i|  %>
              　　　　<% stadium_id = sort_post[0] %>
                    <% average = sort_post[1].to_f %>
               	    <li class="collection-item"><%= "第#{ i+1 }位" %><%= Stadium.find(stadium_id).name %><%= average %></li>
              　　<% end %>
               </ul>
             </div>

          <div class='col-lg-3'>
               <ul class="collection with-header">
                  <li class="blue-text text-darken-2 collection-header"><h6>アクセスランキング</h6></li>
            　　　　<% @sort_accesses.each.with_index do |sort_post, i|  %>
            　　　　<% stadium_id = sort_post[0] %>
            　　　　<% average = sort_post[1].to_f %>
            　　　　<li class="collection-item"><%= "第#{ i+1 }位" %><%= Stadium.find(stadium_id).name %> <%= average %></li>
             	　<% end %>
            　</ul>
          </div>

         <div class='col-lg-3'>
              <ul class="collection with-header">
               <li class="orange-text text-darken-2 collection-header"><h6>観光ランキング</h6></li>
                <% @sort_sightseeings.each.with_index do |sort_post, i|  %>
                    <% stadium_id = sort_post[0] %>
                    <% average = sort_post[1].to_f %>
                    <li class="collection-item"><%= "第#{ i+1 }位" %><%= Stadium.find(stadium_id).name %><%= average %></li>
                <% end %>
              </ul>
            </div>

         <div class='col-lg-3'>
              <ul class="collection with-header">
                 <li class="red-text  collection-header"><h6>キャパランキング</h6></li>
                  <% @sort_sightseeings.each.with_index do |sort_post, i|  %>
                    <% stadium_id = sort_post[0] %>
                    <% average = sort_post[1].to_f %>
                    <li class="collection-item"><%= "第#{ i+1 }位" %><%= Stadium.find(stadium_id).name %><%= average %></li>
                  <% end %>
              </ul>
            </div>
            </div>
          </div>
        </main>

            <script type="text/javascript">
          function initMap() {
            var test = {lat: <%#=  @posted.latitude %>, lng: <%#=  @posted.longitude %>};
            var map = new google.maps.Map(document.getElementById('map'), {
              zoom: 15,
              center: test
            });

            var transitLayer = new google.maps.TransitLayer();
            transitLayer.setMap(map);

            var posteds = $('#map').data('posteds')
                // JSのeach文
            posteds.forEach(function(posted){
            //posteds.each do |posted|
              var hoge = {lat: posted.latitude, lng: posted.longitude};
              console.log(hoge)
              var contentString = '住所：' + posted.address;
              var infowindow = new google.maps.InfoWindow({
                content: contentString
              });

              var marker = new google.maps.Marker({
                position:hoge,
                map: map,
                title: contentString
              });

              marker.addListener('click', function() {
                infowindow.open(map, marker);
              });
            })

          }

        </script>
        <script async defer
          src="https://maps.googleapis.com/maps/api/js?v=3.exp&key=AIzaSyDgRNuMMQ26SbHwrGQmhxfrS4kjcuygGbI&callback=initMap">

        </script>

