<main>
  <div class="row">

    <div class="col s4 ">
      <ul class="collapsible popout ">
        <li class="center-align">
          <laber><%= attachment_image_tag @posted, :image,  fallback: "no_image.png", size:'400x200' %></laber>
          <div class="collapsible-header grey lighten-4"><h5><%= @posted.name %></h5></div>
        </li>
        <li>
          <div class="collapsible-header grey lighten-4"><h6>球場紹介</h6></div>
          <div class="collapsible-body grey lighten-4"><%= @posted.information %></div>
        </li>
        <li>
          <div class="collapsible-header grey lighten-4"><h6>球場評価</h6></div>
          <div class="collapsible-body grey lighten-4">
            <div class='form-group'>

              <label>アクセス採点</label>
               <span class="blue-text text-darken-2"><%= @access %></span><br>
              <div id='star-rate'></div>

              <label>グルメ採点</label>
              <span class="blue-text text-darken-2"><%= (@gouremet).floor(2) %></span><br>
              <div id='star2-rate'></div>

              <label>ムード採点</label>
               <span class="blue-text text-darken-2"><%= (@mood).floor(2) %></span><br>
              <div id='star3-rate'></div>

              <label>キャパシティ採点</label>
              <span class="blue-text text-darken-2"><%=(@capacity).floor(2) %></span><br>
              <div id='star4-rate'></div>

              <label>観光採点</label>
               <span class="blue-text text-darken-2"><%= (@gouremet).floor(2) %></span><br>
              <div id='star5-rate'></div>

              <h6>総合採点</h6>
               <h5 class="blue-text text-darken-2 ttt"><%= (@total_rate).floor(2) %></h6>
            </div>
          </div>
        </li>
      </ul>
    </div>

    <div class='col s8 '>
      <div id='map' data-posteds='<%= @posteds %>'>
    </div>
  </div>



  <div class="row">
    <% @posts.each do |post| %>
      <div class="col s4"></div>
        <div class="col s8">
        <h4 class="header"></h4>
        <div class="card horizontal">
          <div class="card-image">
           <%= attachment_image_tag post, :posted_image,  fallback: "no_image.png", size:'250x250' %>
          </div>
          <div class="card-stacked">
            <table>
              <tr>
                <td class="bold"><%= link_to  public_user_path(post.user.id) do %><%= post.user.name %><% end %></td>
                <td class="bold">投稿日<%= post.created_at.strftime("%m月%d日") %></td>
                 <td class="bold">観戦日<%= post.watching_date.strftime("%m月%d日") %></td>
             </tr>
            </table>
            <span class="card-title"><%= link_to  public_stadium_path(post.stadium.id) do %> <%= post.stadium.name %><% end %></span>
            <div class="card-content">
              <p><%= link_to  public_post_path(post.id) do %><%= post.post_content %><% end %></p>
            </div>
            <div class="card-action">
              <table>
                <tr>
                  <td class="bold"><%= render 'public/favorites/favorite',post: post %></td>
                  <td class="bold"><%= render 'public/relationships/follow_button', user: post.user %></td>
                </tr>
              </table>
            </div>
          </div>
        </div>
      </div>
    <% end %>
        <%= paginate @posts  %>
  </div>
</main>




    <script>
          $('#star-rate').raty({
            size: 36,
            starOff:  '<%= asset_path('star-off.png') %>',
            starOn : '<%= asset_path('star-on.png') %>',
            starHalf: '<%= asset_path('star-half.png') %>',
            half: true,
            readOnly: true,
            score: '<%=@access  %>'
          });


          $('#star2-rate').raty({
            size: 36,
            starOff:  '<%= asset_path('star-off.png') %>',
            starOn : '<%= asset_path('star-on.png') %>',
            starHalf: '<%= asset_path('star-half.png') %>',
            half: true,
            readOnly: true,
            score: '<%=  @gouremet %>'
          });



          $('#star3-rate').raty({
            size: 36,
            starOff:  '<%= asset_path('star-off.png') %>',
            starOn : '<%= asset_path('star-on.png') %>',
            starHalf: '<%= asset_path('star-half.png') %>',
            half: true,
            readOnly: true,
            score: '<%= @mood %>',
          });



          $('#star4-rate').raty({
            size: 36,
            starOff:  '<%= asset_path('star-off.png') %>',
            starOn : '<%= asset_path('star-on.png') %>',
            starHalf: '<%= asset_path('star-half.png') %>',
            half: true,
            readOnly: true,
            score: '<%=  @capacity %>',
          });


          $('#star5-rate').raty({
            size: 36,
            starOff:  '<%= asset_path('star-off.png') %>',
            starOn : '<%= asset_path('star-on.png') %>',
            starHalf: '<%= asset_path('star-half.png') %>',
            half: true,
            readOnly: true,
            score: '<%= @sightseeing  %>',
          });
  </script>


      <script type="text/javascript">
          function initMap() {
            var test = {lat: <%=  @posted.latitude %>, lng: <%=  @posted.longitude %>};
            var map = new google.maps.Map(document.getElementById('map'), {
              zoom: 10,
              center: test
            });

            var transitLayer = new google.maps.TransitLayer();
            transitLayer.setMap(map);

            var posteds = 
            $('#map').data('posteds')
                // JSのeach文
            posteds.forEach(function(posted){
            //posteds.each do |posted|
              var hoge = {lat: posted.latitude, lng: posted.longitude};
              console.log(hoge)

            var contentString = '住所：' + "<a href='/public/post/" + posted.id + "'>" + posted.post_content + "</a>";



              
              var infowindow = new google.maps.InfoWindow({
                content: contentString
              });

              var marker = new google.maps.Marker({
                position:hoge,
                map: map,
                title: contentString

              });

              marker.addListener('click', function() {
                infowindow.open(map, marker);
              });
            })

          }

      </script>
      <script async defer

         src="https://maps.googleapis.com/maps/api/js?v=3.exp&key=<%= ENV["GOOGLE_MAP_API_KEY"]%>&callback=initMap">
      </script>



