%h1 ユーザー編集画面
= form_for(@user, url: admin_users_path) do |f|
  .form-row
    .col-md-12.form-group
      .col-sm-3
      .form-group
        %label ユーザー名
        = f.text_field :name, class: "form-control", autocomplete: 'off',placeholder: "入力してください"
      %br/
  .form-row
    .col-md-12.form-group
      .col-sm-3
      .form-group
        %label 自己紹介文
        = f.text_field :introduction, class: "form-control", autocomplete: 'off',placeholder: "入力してください"
      %br/
  .form-row
    .col-md-12.form-group
      .col-sm-3
      %label.col-sm-1 好きなチーム
      .col-sm-5
        = f.collection_select :team_id, Team.all, :id, :team, include_blank: '選択して下さい'
        %br/
  .form-group
    %label ユーザー画像
  %br/
  = f.submit "ユーザー情報を編集する" , class: "btn btn-success col-lg-5"
= link_to "削除",  admin_user_path(@user.id), method: :delete ,class: "btn btn-primary col-lg-5"
