<main>
<div class="row">
 <% if @stadium.errors.any? %>
            <%= @stadium.errors.count %>件のerrorが発生しました 入力してください
              <% @stadium.errors.full_messages.each do |message| %>
                  <%= message %>
              <% end %>
          <% end %>




<div class="col s3 center-align"></div>
  <div class="col s6 ">
    <h4>球場一覧　作成画面</h4>
    <%= form_for(@stadium, url: admin_stadium_index_path, method: :post) do |f| %>

        <div class="form-group">
            <label>球場名</label>
           <%= f.text_field :name, class: "form-control", autocomplete: 'off',placeholder: "入力してください" %>
        </div><br>

        <div class="form-group">
           <label>球場紹介文</label><br>
           <%= f.text_field :information, class: "form-control", autocomplete: 'off',placeholder: "入力してください" %>
        </div><br>


        <div class="form-group">
           <label>住所登録</label><br>
           <%= f.text_field :address, class: "form-control", autocomplete: 'off',placeholder: "入力してください" %>
       </div><br>


         <div class="form-group">
            <label>球場画像</label>
            <%= f.attachment_field :image %>
        </div><br>


           <%= f.submit "球場登録" , class: "btn btn-success col s12" %>

      <% end %>
    </div>
     <div class="col s12">
        <table class="table table-hover">
          <thead>
            <tr>
              <th>球場画像</th>
              <th>球場名</th>
              <th>球場紹介文</th>
              <th>住所</th>
              <th>編集</th>
            </tr>
          </thead>
          <tbody>
           <% @stadiums.each do |s| %>
            <tr>
              <td><%= attachment_image_tag s, :image,  fallback: "no_image.png", size:'100x100' %></td>
              <td><%= s.name %></td>
              <td><%= s.information %></td>
              <td><%= s.address %></td>
              <td><%= link_to "編集", edit_admin_stadium_path(s.id) ,class: "label label-primary" %></td>
        　　</tr>
          <% end %>
        </tbody>
      </table>
    </div>
　　</div>
</main>
