<main>
  <div class="row">
    <div class="col s4">
      <ul class="collection with-header">
        <li class="collection-header center-align"><%= attachment_image_tag @user, :image, :fill, 250, 250, fallback: "no_image.png", size:'100x100'  %></li>
        <li class="collection-item center-align">名前<h5><%= @user.name %></h5></li>
        <li class="collection-item center-align">好きなチーム<h6><%= @user.team.team %></h6></li>
        <li class="collection-item center-align">プロフィール<%= @user.introduction %></li>
      </ul>
      <% if @user == current_user %>
        <%= link_to "マイページ編集" ,edit_public_user_path(@user.id), class: "btn btn-primary col s12" %>
      <% end %>
    </div>
    <div class="col s8">
       <h5 class="center-align">マイページ</h5>
       <h6 class="center-align">お気に入りの場所の住所が表示されます</h6>
       <div id='map' data-posteds=<%= @posteds %>></div>
    </div>

    <div class="card col s12">
      <% @posts.each do |post| %>
        <div class="left-align">
          <%= link_to public_post_path(post.id) do %>
            <%= attachment_image_tag post, :posted_image, :fill, 250, 250, fallback: "no_image.png", size:'50x50'  %>
          <% end %>
          <span class="card-title"><%= link_to  public_stadium_path(post.stadium.id) do %>
            <%= post.stadium.name %><% end %>
          </span>&emsp;
          <span><%= link_to  public_user_path(post.user.id) do %>
            <%= post.user.name %><% end %>
          </span>&emsp;
          <span><%= post.watching_date.strftime("%m月%d日") %></span>
        </div>
        <div class="card-content">
          <%= link_to  public_post_path(post.id) do %><%= post.post_content %><% end %>
        </div>
      <% end %>
    </div>
     <%= paginate @posts %>
  </div>
</main>









            <script type="text/javascript">
          function initMap() {

             var test = { lat:36.204824, lng:138.252924};
            var map = new google.maps.Map(document.getElementById('map'), {
              zoom: 5,
              center: test
            });

            var transitLayer = new google.maps.TransitLayer();
            transitLayer.setMap(map);

            var posteds = $('#map').data('posteds')
                // JSのeach文
            posteds.forEach(function(posted){
            //posteds.each do |posted|
              var hoge = {lat: posted.latitude, lng: posted.longitude};
              console.log(hoge)
              var contentString = '住所：' + posted.address;
              var infowindow = new google.maps.InfoWindow({
                content: contentString
              });

              var marker = new google.maps.Marker({
                position:hoge,
                map: map,
                title: contentString
              });

              marker.addListener('click', function() {
                infowindow.open(map, marker);
              });
            })

          }

        </script>
        <script async defer
            src="https://maps.googleapis.com/maps/api/js?v=3.exp&key=<%= ENV["GOOGLE_MAP_API_KEY"]%>&callback=initMap">
        </script>


