.col-lg-12
  .text-center
    %h1 マイページ
.col-lg-5.col-lg-offset-1
  %h2 ユーザー情報
  .form-group
    %label ユーザ画像
    %br/
  %br/
  .form-group
    %label ユーザー名
    %br/
    = @user.name
  %br/
  .form-group
    %label 好きなチーム名
    %br/
    = @user.team.team
    %br/
  %br/
  .form-group
    %label 自己紹介
    %br/
    = @user.introduction
  %br/
  = link_to "マイページ編集" ,edit_user_path(@user.id), class: "btn btn-primary col-lg-5"
.col-lg-6
  %h2 ユーザー投稿一覧
  %table.table.table-hover
    %thead
      %tr
        %th 球場画像
        %th 投稿者
        %th 球場名
        %th 観戦日
        %th 投稿詳細
    - if @post.present?
      - @users.each do |post|
        %tbody
          %tr
            %td= attachment_image_tag post, :posted_image, :fill, 250, 250, fallback: "no_image.png", size:'100x100'
            %td= post.user.name
            %td= post.watching_date.strftime("%Y年%m月%d日")
            %td= post.post_content
            %td
              = link_to "投稿詳細",admin_post_path(post.id)
            - @posts.each do |post|
              %hr/
              %p
                %span ツイート内容:
                = link_to post.post_content, post_path(post.id)
            / 追加
            - @favorite_post.each do |post|
              %hr/
              %p
                %span ファボツイート内容:
                = link_to post.post_content, posts_path(post.id)
            　
