<!DOCTYPE html>
<html>
  <head>
    <title>Sutarog'</title>


    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag 'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome-animation/0.0.10/font-awesome-animation.css" type="text/css" media="all" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.10/js/select2.full.min.js" defer></script>
    <script src="https://js.pay.jp/" type="text/javascript"></script>


    　          <!-- select表示に必要 -->
    <script>
    $(document).ready(function(){
    $('select').formSelect();
    });
    </script>

  <body>
    <header>
    <nav>
      <div class="nav-wrapper light-blue darken-1">
        <%= link_to 'スタログ', root_path ,class: "brand-logo"  %><%#= image_tag 'logo.png'%><%# end %>

        <ul id="nav-mobile" class="right hide-on-med-and-down">
          <% if user_signed_in? %>
              <li>こんにちは!<%= current_user.name %> 様</li>

              <li><%= link_to "投稿する", new_post_path %></li>

              <li><%= link_to "投稿一覧", posts_path %></li>

              <li><%= link_to "マイページ", user_path(current_user.id) %></li>

              <li><%= link_to "ログアウト", user_registration_path, method: :delete %></li>

              <% elsif admin_user_signed_in? %>

              <li><%= link_to "球場登録 一覧",admin_stadium_index_path %></li>

              <li><%= link_to "チーム登録 一覧",admin_team_index_path %></li>

              <li><%= link_to "ユーザー一覧",admin_users_path %></li>

              <li><%= link_to "投稿一覧",admin_posts_path %></li>

              <li><%= link_to "ログアウト", user_registration_path, method: :delete %></li>

              <% else %>

               <li><%= link_to "ログイン",new_user_session_path %></li>

              <li><%= link_to "新規登録" ,  new_user_registration_path %></li>

              <li><%= link_to "管理者新規登録" ,  new_admin_user_registration_path %></li>

              <li><%= link_to "管理者ログイン", new_admin_user_session_path %></li>
           <% end %>
          </ul>
        </div>
      </nav>
  </header><!-- /header -->

<%= yield %>

<footer class="page-footer">
    <div class="container">
      <div class="row">
        <div class="col l6 s12">
          <h5 class="white-text">Footer Content</h5>
          <p class="grey-text text-lighten-4">You can use rows and columns here to organize your footer content.</p>
        </div>
        <div class="col l4 offset-l2 s12">
          <h5 class="white-text">Links</h5>
          <ul>
            <li><a class="grey-text text-lighten-3" href="#!">Link 1</a>

          </ul>
        </div>
      </div>
    </div>
    <div class="footer-copyright">
      <div class="container">
        © 2018 Copyright Yusuke Ito(@yusukeito58)
      </div>
    </div>
  </footer>
  <script type="text/javascript" src="js/materialize.min.js"></script>
</body>

</html>