<!DOCTYPE html>
<html>
  <head>
    <title>StadiumLog</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  <ul class="nav navbar-nav navbar-right" data-hover="dropdown" data-animations="zoomIn fadeIn fadeInUp fadeIn">
               <% if user_signed_in? %>
               <!--  ユーザー側ヘッダー　ログイン時 -->
                <li class="login-name">
    　             こんにちは、<%= current_user.name %>&nbsp;様
              　</li>

               <li class="listbar">
                  <i class="fas fa-user-cog">&nbsp;<%= link_to "投稿", new_post_path  %></i>
                </li>

　              <li class="listbar">
                 <i class="fas fa-sign-out-alt">&nbsp;<%= link_to "ログアウト", user_registration_path, method: :delete %>
                 </i>
              <% elsif admin_user_signed_in? %>

                <li class="listbar">
                  <i class="fas fa-user-cog">&nbsp;<%= link_to "球場登録 一覧",admin_stadium_index_path  %></i>
                </li>

                <li class="listbar">
                  <i class="fas fa-user-cog">&nbsp;<%= link_to "チーム登録 一覧",admin_team_index_path  %></i>
                </li>

                <li class="listbar">
                  <i class="fas fa-file-invoice-dollar">&nbsp;<%= link_to "ユーザー一覧",admin_users_path %></i>
                </li>

                <li class="listbar">
                  <i class="fas fa-shopping-cart">&nbsp;<%= link_to "投稿一覧",admin_posts_path %></i>
                </li>

                <% else %>
                <li class="listbar">
                  <i class="fas fa-sign-out-alt">&nbsp;<%= link_to "新規登録" ,  new_user_registration_path %></i>
                </li>

                 <li class="listbar">
                  <i class="fas fa-sign-out-alt">&nbsp;<%= link_to "ログイン",new_user_session_path %></i>
                </li>
                <li class="listbar">
                 <i class="fas fa-sign-out-alt">&nbsp;<%= link_to "ログアウト", user_registration_path, method: :delete %>
                 </i>
                 <% end %>
              </ul>

    <%= yield %>
  </body>
</html>
